@model ASS_QLTV_API.Models.Docgium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Xóa độc giả</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Xóa độc giả</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="DocGia">Về danh sách</a>
        </div>

        <div>
            <h4>DocGia</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaDg)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaDg)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TenDg)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TenDg)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Sdt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sdt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MatSach)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MatSach)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input asp-for="MaDg" type="hidden" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </form>
        </div>

    </div>
</div>
        </div>
    </div><h1>Delete</h1>


