@model ASS_QLTV_API.Models.Phieumuon

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="PhieuMuon">Về danh sách</a>
        </div>

        <div>
            <h4>PhieuMuon</h4>
            <hr />
            <dl id="data" class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaPm)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaPm)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaDg)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaDg)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NgayMuon)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NgayMuon)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NgayHenTra)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NgayHenTra)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SoLuongMuon)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SoLuongMuon)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User)
                </dd>
            </dl>
            <button type="button" class="btn btn-success" onclick="myfunction()">Lưu</button>
            <script>
                function myfunction() {

                    var doc = new jsPDF()
                    var h1 = document.querySelector('#data')
                    doc.fromHTML(h1, 15, 15)
                    doc.save("output.pdf")
                }
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

        </div>
        </div>
    </div>
</div>
