@model IEnumerable<ASS_QLTV_API.Models.Phieumuon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);</script>
}



<div class="container-fluid">
    <h1 class="mt-4">Danh sách phiếu mượn</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách phiếu mượn</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" href="/PhieuMuon/Create">Tạo mới</a>
                </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>}
            </div>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Phiếu mượn</div>
                <div class="card-body">
                    <div class="table-responsive" id="table">
                        <table style="font-family:Arial" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                       @Html.DisplayNameFor(model => model.MaPm)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaDg)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NgayMuon)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NgayHenTra)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SoLuongMuon)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="~/PhieuMuon/Detail/@item.MaPm" > 
                                                @Html.DisplayFor(modelItem => item.MaPm) 
                                            </a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaDg)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgayMuon)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NgayHenTra)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoLuongMuon)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User)
                                        </td>
                                        <td>
                                            <form action="~/PhieuMuon/Edit" method="get">
                                                <input type="hidden" value="@item.MaPm" name="id" />
                                                <input type="submit" value="Sửa" class="btn btn-outline-success" />
                                            </form>

                                        </td>
                                        <td>
                                            <form action="~/PhieuTra/CTPM" method="get">
                                                <input type="hidden" value="@item.MaPm" name="id" />
                                                <input type="submit" value="Chi tiết" class="btn btn-outline-warning" />
                                            </form>
                                        </td>
                                        <td>
                                            <form action="~/PhieuMuon/Delete" method="get">
                                                <input type="hidden" value="@item.MaPm" name="id" />
                                                <input type="submit" value="Xóa" class="btn btn-outline-danger" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

