@model PJC.Models.Sach

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid">
        <h1 class="mt-4">Chi tiết</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Chi tiết</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
            </div>
            <div>
                <h4>Sach</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MaSach)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MaSach)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TenSach)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TenSach)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TenTG)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TenTG)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NhaXB)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NhaXB)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TheLoai)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TheLoai)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SoLuong)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GiaTien)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.GiaTien)
                    </dd>
                </dl>
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) 

                </div>
            </div>
           

        </div>
    </div>
